@import "../../../assets/style/variables.scss";
.mat-toolbar{
    background-color: $wine;
}
img:hover{
    cursor: pointer;
}
.large-spacer{
    flex: 1 1 auto;
}
.little-spacer{
    flex: 0.03 1 auto;
}
.login{
    font-size: 20px;
    width: auto;
    height: auto;
}
.about{
    font-size: 20px;
    width: auto;
    height: auto;
}